// Variáveis do grid
$cols: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Box-sizing
*, *::after, *::before {
  box-sizing: border-box;
}

// Mixin de media-querie
@mixin d($size) {
  @if $size == l {
    @media (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == m {
    @media (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    }
  } @else if $size == s {
    @media (max-width: #{$m-device - 1}) {
      @content;
    }
  }
}

p {
  color: blue;
  @include d(m) {
    color: pink;
  }
  @include d(s) {
    color: aqua;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: blue;
  &::after, &::before {
    content: '';
    display: table;
    clear: both;
  }
}

.grid-3 {
  width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(0,0,0,.5);
  color: white;
  float: left;
}